---
import BaseLayout from '../layouts/base.astro'

export const prerender = true;
---

<BaseLayout title="Contact" description='Développeur auto-didacte depuis plusieurs années, les technologies les plus fréquemment utiliser sont NestJS pour la partie serveur ainsi que NuxtJS pour la partie client.'>
    <h1 class="font-title font-bold text-5xl dark:text-neutral-200 text-neutral-800">Contact</h1>
    <p class="font-body text-xl dark:text-neutral-300 text-neutral-700 w-3/4">
        Prêt à collaborer sur un projet passionnant ou simplement à discuter de vos idées ? N'hésitez pas à me laisser un message ci-dessous, je serais ravi de vous entendre !
    </p>

    <form action="/contact" name="contact" method="POST" data-netlify="true" class="w-full py-12 flex flex-col justify-start items-start gap-3">
        <div class="flex flex-row gap-3 w-full">
            <div class="flex flex-col justify-start items-start flex-1">
                <label for="name" class="text-2xl font-title font-semibold dark:text-neutral-200 text-neutral-800 pl-2">Votre nom:</label>
                <input type="text" name="name" class="w-full px-6 py-3 dark:bg-neutral-950 bg-neutral-300 border-none outline-none rounded-md placeholder:text-neutral-950 dark:placeholder:text-neutral-500" placeholder="Nom Prénom..." />
            </div>

            <div class="flex flex-col justify-start items-start flex-1">
                <label for="email" class="text-2xl font-title font-semibold dark:text-neutral-200 text-neutral-800 pl-2">Email:</label>
                <input type="email" name="email" class="w-full px-6 py-3 dark:bg-neutral-950 bg-neutral-300 border-none outline-none rounded-md placeholder:text-neutral-950 dark:placeholder:text-neutral-500" placeholder="Email..."/>
            </div>
        </div>

        <div class="flex flex-col justify-start items-start w-full">
            <label for="Projet" class="text-2xl font-title font-semibold dark:text-neutral-200 text-neutral-800 pl-2">Votre projet:</label>
            <textarea name="project" class="w-full px-6 py-3 dark:bg-neutral-950 bg-neutral-300 border-none outline-none rounded-md placeholder:text-neutral-950 dark:placeholder:text-neutral-500 h-64 resize-none" placeholder="Votre projet..."/>
        </div>

        <div class="w-full">
            <input type="submit" value="Envoyer" class="w-full px-6 py-3 text-neutral-200 bg-indigo-500 shadow-md hover:shadow-xl border-none outline-none rounded-md transition-all duration-200 font-title font-bold text-2xl uppercase cursor-pointer" />
        </div>
    </form>
</BaseLayout>
