---
interface Props {
    positionClass: string[]
    colorClass: string;
}

const {positionClass, colorClass} = Astro.props;
---

<div class:list={['w-[500px] h-[500px] rounded-full absolute blur-[300px]', positionClass, [colorClass]]}></div>